html {
    font-family: Quicksand,Calibri, Trebuchet, sans-serif;
    height: 100%;
}
body  {
   background-image: url("images/frontpage.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;


}

.footer{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 5%;
   color: white;
   text-align: center;
}

.section{
  height: 100%;
  position: sticky;
}


.dusty{
  background-color: #96858F;
}

#pot{
  width: 25%;
  height: 25%;
}

#contact{
  height: 40%;
  width: 50%;
}


.lavendar{
background-color: #6D7993;
}

.overcast{
  background-color: #9099A2;
}
.paper{
  background-color: #D5D5D5;
}
.roundElement{
  border-radius: 22em;

}
.fonts{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
p,li{
  font-family: 'Quicksand', serif;
  font-size: 16px;
}
.bio{
  font-family: 'Quicksand', serif;
  font-size: 18px;
}
a,{
    font-family: 'Quicksand', serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Quicksand', serif;
}
